@define-color bg0_hard #1d2021;
@define-color bg0 #282828;
@define-color bg0_soft #32302f;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;

@define-color fg0 #fbf1c7;
@define-color fg1 #ebdbb2;
@define-color fg2 #d5c4a1;
@define-color fg3 #bdae93;
@define-color fg4 #a89984;

@define-color red_normal #cc241d;
@define-color green_normal #98971a;
@define-color yellow_normal #d79921;
@define-color blue_normal #458588;
@define-color purple_normal #b16286;
@define-color aqua_normal #689d6a;
@define-color gray_normal #a89984;

@define-color gray_bright #928374;
@define-color red_bright #fb4934;
@define-color green_bright #b8bb26;
@define-color yellow_bright #fabd2f;
@define-color blue_bright #83a598;
@define-color purple_bright #d3869b;
@define-color aqua_bright #8ec07c;

@define-color orange_dark #d65d0e;
@define-color orange_bright #fe8019;


* {
    font-size: 12px;
    font-family: "JetBrains Mono Nerd Font";
}

window#waybar {
    all: unset;
}

.modules-left {
    margin: 6 0 0 9;
    background-color: @bg0;
    color: @fg1;
    border-radius: 10;
    border: 1 solid @bg4;
}

.modules-center {
    margin: 6 0 0 0;
    padding: 0 12;
    background-color: @bg0;
    color: @fg1;
    border-radius: 10;
    border: 1 solid @bg4;
}

.modules-right {
    margin: 6 9 0 0;
    padding: 0 12;
    background-color: @bg0;
    color: @fg1;
    border-radius: 10;
    border: 1 solid @bg4;
}

#workspaces button {
    all: unset;
    color: @fg1;
    padding: 8 10 8 10;
    border-radius: 10;
    transition: .3s;
}

#workspaces button:hover {
    background-color: @bg2;
}

#workspaces button.focused {
    color: @blue_bright;
}

#custom-clockicon {
    color: @aqua_bright;
}

#custom-volumeicon {
    margin-left: 18;
    color: @aqua_bright;
}

#pulseaudio-slider {
    margin-left: 6;
    padding: 0;
}

#pulseaudio-slider slider {
    min-width: 0;
    min-height: 0;
    margin: 0;
    background-image: none;
    border: none;
}

#pulseaudio-slider trough {
    min-width: 120px;
    min-height: 10px;
    border-radius: 10px;
    background-color: @bg3;
    border: none;
}

#pulseaudio-slider highlight {
    border-radius: 10px;
    margin: 0;
    border: none;
    background-color: @fg1;
}

#tray menu {
    background-color: @bg0;
}